$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$headerHeight: 70px;
$headerYpadding: 5px;

$footerHeight: 70px;
$footerYpadding: 5px;

$keycolor: 	#0eaf9e;
$background: #fcfcfc;